.app {
	min-height: 100vh;
	background-color: #f0f2f5;
}

.app__body {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

@media screen and (max-width: 1200px) {
	.app__body {
		justify-content: space-around;
	}
}
