.post {
	width: 100%;
	margin-top: 15px;
	border: 1px solid lightgray;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top {
	display: flex;
	position: relative;
	align-items: center;
	padding: 15px;
}

.post__avatar {
	margin-right: 10px;
}

.post__topInfo > h3 {
	font-size: medium;
}

.post__topInfo > p {
	font-size: small;
	color: gray;
}

.post__bottom {
	margin: 5px 0;
	padding: 15px 20px;
}
.post__bottom p {
	font-size: large;
}

.post__image > img {
	width: 100%;
}

.post__options {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-evenly;
	font-size: medium;
	color: gray;
	padding: 10px 15px;
}

.post__option {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	flex: 1;
	cursor: pointer;
}

.post__option > p {
	margin-left: 10px;
}

.post__option:hover {
	background-color: #eff2f5;
	border-radius: 10px;
}

.post__addComment {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.post__addComment > form {
	flex: 1;
	display: flex;
	background-color: #f0f2f5;
	border-radius: 900px;
	padding-left: 20px;
}

.post__addComment > form > input {
	flex: 1;
	border: none;
	outline: none;
	font-size: 18px;
	background-color: #f0f2f5;
}

.post__comments {
	padding: 15px 25px 0px 25px;
	background-color: #f0f2f5;
	border-bottom: 1px solid lightgrey;
}

.post__comment {
	display: flex;
	margin-bottom: 15px;
}

.post__comment__content {
	margin-left: 10px;
	background-color: white;
	padding: 10px 20px;
	border-radius: 999px;
}

@media screen and (max-width: 1000px) {
	.post{
		width: 525px;
	}	
}
@media screen and (max-width: 530px) {
	.post{
		width: 92vw;
	}	
	.post__option{
		font-size: 16px;
	}
	.post__addComment > form{
		padding-left: 10px;
	}
	.post__addComment > form > input{
		font-size: 14px;
		width: 200px;
	}
	.post__options{
		padding: 10px;
	}
}

@media screen and (max-width: 360px){
	.post__addComment > form > input{
		font-size: 12px;
		width: 150px;
	}
	.post__option{
		font-size: 13px;
	}
}